PORT=3000
JWT_SECRET=troque-este-segredo-antes-de-producao
SENHA_MESTRE=troque-esta-senha-do-usuario-mestre
EXPO_PUBLIC_GOOGLE_CLIENT_ID_WEB=818387140252-0drv1qdg8pjpqnts804604iv1alh56bk.apps.googleusercontent.com
