# Copie para .env e ajuste conforme o ambiente.
# Client ID Web do Google (obrigatorio para o login OAuth2)
EXPO_PUBLIC_GOOGLE_CLIENT_ID_WEB=818387140252-0drv1qdg8pjpqnts804604iv1alh56bk.apps.googleusercontent.com
# URL do backend. No emulador Android use http://10.0.2.2:3000
EXPO_PUBLIC_API_URL=http://10.0.2.2:3000